/* Global Styles */
#components-form-demo-normal-login .login-form {
    max-width: 300px;
}

#components-form-demo-normal-login .login-form-forgot {
    float: right;
}

#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
    float: left;
}

#components-form-demo-normal-login .login-form-button {
    width: 100%;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1em;
}

.recipe-card {
    width: 100%;
}

.recipe-image {
    width: 100%;
    height: auto;
}

@media (max-width: 600px) {
    .recipe-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 320px) {
    .recipe-grid {
        grid-template-columns: 1fr;
    }
}

.recipe-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.hero-section {
    background-image: url('../src/images/heroImage.jpg');
    background-size: cover;
    background-position: center;
    height: 400px; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff; 
}

.hero-content {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
}

.hero-content h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.hero-content button {
    font-size: 16px;
    border-radius: 25px;
}
